body {
    background-color: #6281bd;
    height: 100%;
}

.head-container {
    margin-top: 80px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f8f9fa;
    margin-bottom: 80px;
    padding: 20px 25px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f8f9fa;
    height: 80%;
    padding-top: 5px;
    padding-bottom: 15px;
}

    .table-container table {
        width: 80%;
        max-width: 100%;
    }

        .table-container table tbody tr td {
            border-bottom: 1px solid black;
            padding: 6px 6px;
        }

.inner-box {
    border: 2px solid black;
    width: 500px;
    padding: 20px 30px;
    margin: 50px 0px;
    border-radius: 4px;
}

    .inner-box .form-group {
        margin: 2px 0px;
    }
